@import "tailwindcss";

@theme {
  --font-sans: var(--font-zalando), ui-sans-serif, system-ui, sans-serif;

  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --color-border-subtle: var(--brd);
  --color-muted-text: var(--txt-muted);

  --transition-delay-theme: 500ms;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; 
}

:root {
  --bg: oklch(14.1% 0.005 285.823);
  --fg: #ffffff;
  --brd: #18181b;       /* zinc-900 */
  --txt-muted: #a1a1aa; /* zinc-400 */
}

.light {
  --bg: #fafafa;        /* zinc-50 */
  --fg: #010101;
  --brd: #e4e4e7;       /* zinc-200 */
  --txt-muted: #71717a; /* zinc-500 */
}


@layer base {
  *, ::after, ::before {
    @apply border-border-subtle;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    transition: background-color var(--transition-delay-theme) ease, 
                color var(--transition-delay-theme) ease,
                border-color var(--transition-delay-theme) ease;
    @apply antialiased;
  }

  input, textarea, button, a {
    transition: border-color var(--transition-delay-theme) ease, 
                background-color var(--transition-delay-theme) ease,
                color var(--transition-delay-theme) ease;
  }
}